<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <% computer.forEach(function(row){%>
                <div id="signupbox" style="margin-top:50px"
                    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <%= title %>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form action="/update8.3/" id="EmployeeForm" class="form-horizontal" method="post"
                                role="form">
                                

                                <div class="form-group">
                                    <label for="student_er_no" class="col-md-3 control-label">ER NO</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="student_er_no"
                                            value="<%= row.student_er_no %>" placeholder="Enter ER no">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="advance_surveying" class="col-md-3 control-label">advance surveying</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="advance_surveying"
                                            value="<%= row.advance_surveying %>" placeholder="advance surveying">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="highway_engineering" class="col-md-3 control-label">highway engineering</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="highway_engineering"
                                            value="<%= row.highway_engineering %>" placeholder="highway engineering">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="mechanics_of_structures" class="col-md-3 control-label">mechanics of structures</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="mechanics_of_structures"
                                            value="<%= row.mechanics_of_structures %>"
                                            placeholder="mechanics of structures">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="building_construction" class="col-md-3 control-label">building construction</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="database_management_system"
                                            value="<%= row.building_construction %>"
                                            placeholder="building construction">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="concrete_technology" class="col-md-3 control-label">concrete technology</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="concrete_technology"
                                            value="<%= row.concrete_technology %>" placeholder="concrete technology">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="computer_aided_drawing" class="col-md-3 control-label">computer aided drawing</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="computer_aided_drawing"
                                            value="<%= row.computer_aided_drawing %>"
                                            placeholder="computer aided drawing">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="percentage" class="col-md-3 control-label">percentage</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="percentage"
                                            value="<%= row.percentage %>" placeholder="percentage">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rating" class="col-md-3 control-label">rating</label>
                                    <div class="col-md-9">
                                       <input type="text" class="form-control" name="rating"
                                           value="<%= row.rating %>" placeholder="rating">
                                   </div>
                                </div>
                                <div class="form-group">
                                    <label for="remark" class="col-md-3 control-label">remark</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="remark" value="<%= row.remark %>"
                                            placeholder="remark">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>




                </div>
                <% }) %>
        </div>
    </div>
</body>

</html>