<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <% computer.forEach(function(row){%>
                <div id="signupbox" style="margin-top:50px"
                    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <%= title %>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form action="/update8.9/" id="EmployeeForm" class="form-horizontal" method="post" role="form">
                                

                                <div class="form-group">
                                    <label for="student_er_no" class="col-md-3 control-label">ER NO</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="student_er_no"
                                            value="<%= row.student_er_no %>" placeholder="Enter ER no">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="object_oriented_programming_using_cplus" class="col-md-3 control-label">object oriented programming using c++</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="object_oriented_programming_using_cplus"
                                            value="<%= row.object_oriented_programming_using_cplus %>" placeholder="object oriented programming using c++">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="data_structure_using_c" class="col-md-3 control-label">data structure using c</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="data_structure_using_c"
                                            value="<%= row.data_structure_using_c %>" placeholder="data structure using c">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="computer_graphics" class="col-md-3 control-label">computer graphics</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="computer_graphics"
                                            value="<%= row.computer_graphics %>" placeholder="computer graphics">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="database_management_system" class="col-md-3 control-label">database management system</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="database_management_system"
                                            value="<%= row.database_management_system %>" placeholder="database management system">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="digital_techniques" class="col-md-3 control-label">digital techniques</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="digital_techniques"
                                            value="<%= row.digital_techniques %>" placeholder="digital techniques">
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="percentage" class="col-md-3 control-label">percentage</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="percentage"
                                            value="<%= row.percentage %>" placeholder="percentage">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rating" class="col-md-3 control-label">rating</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="rating"
                                            value="<%= row.rating %>" placeholder="rating">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="remark" class="col-md-3 control-label">remark </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="remark" value="<%= row.remark %>"
                                            placeholder="remark">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>




                </div>
                <% }) %>
        </div>
    </div>
</body>

</html>