<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Result</title>
</head>

    <div >
        <%if (computer.length>0){ %>
            <% computer.forEach(function(row){ %>
                <div class="container-sm" style="border:1px solid black; padding: 10px; margin-top: 5px;"
                    class="container-fluid">
                    <table class="table">
                        <tr>
                            <th><img src="/img/Msbte.png" width="100px" height="100px" /></th>
                            <th>
                                <h3 style="text-align: center;">Maharashtra State Board of Technical Education <br>
                                    (MSBTE)
                                </h3>
                            </th>
                        <tr>
                            <th colspan="3" style="text-align: center;">Semester 6 Marksheet</th>
                        </tr>
                    </table>

                    <div class="container-fluid" class="container-sm" padding: 10px; margin-top: 5px;>
                        <table class="table table-primary">
                            <tr>
                                <th>Name</th>
                                <td>
                                    <%= row.student_name %>
                                </td>
                                <th>year</th>
                                <td>
                                    <%= row.student_year %>
                                </td>
                            </tr>
                            <tr>
                                <th>Roll No</th>
                                <td>
                                    <%= row.student_roll %>
                                </td>
                                <th>Roll No</th>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>ER no</th>
                                <td>
                                    <%= row.student_er_no %>
                                </td>
                                <th>Students Email</th>
                                <td>
                                    <%= row.student_email %>
                                </td>
                            </tr>
                            <tr>
                                <th>parents Name</th>
                                <td>
                                    <%= row.parents_name %>
                                </td>
                                <th>parent Email</th>
                                <td>
                                    <%= row.parent_email %>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class=" container-fluid">
                        <table class="table table-secondary">
                            <tr>
                                <th>Subject</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>MAX.</th>
                                <th>OBT.</th>
                            </tr>
                            <tr>
                                <td>Management</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.management %>
                                </td>
                            </tr>
                            <tr>
                                <td>Contracts and accounts</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.contracts_and_accounts %>
                                </td>
                            </tr>
                            <tr>
                                <td>Maintenance_and repairs of structure</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.maintenance_and_repairs_of_structure %>
                                </td>
                            </tr>
                            <tr>
                                <td>Emerging trends in civil engineering</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.emerging_trends_in_civil_engineering %>
                                </td>
                            </tr>
                            <tr>
                                <td>Solid waste management</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.solid_waste_management %>
                                </td>
                            </tr>
                            <tr>
                                <td>Capstone project execution and report writing</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.capstone_project_execution_and_report_writing %>
                                </td>
                            </tr>
                            <tr>
                                <td>Construction management</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>50</td>
                                <td>
                                    <%= row.business_communication_using_computers %>
                                </td>
                            </tr>
                            <tr>
                                <td>Enterprenureship development</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>100</td>
                                <td>
                                    <%= row.enterprenureship_development %>
                                </td>
                            </tr>

                            <tr>
                                <th> Teachers Ratings : <%= row.rating %>/10</th>
                                <td colspan="4"></td>
                                <th span="3">Percentage : <%= row.percentage %>%</th>
                                <td colspan="2"></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <div class="container-fluid" style="margin-top: 60px;">
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="p-3 border bg-light">
                                        <b>TEACHER REMARKS:</b><br><br>
                                        <td>
                                            <%= row.remark %>
                                        </td>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <% })}else{ %>
                    <tr>
                        <td colspan="6">No Record Found</td>

                    </tr>
                    <% } %>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>